.date {
    color: white;
    /* width: auto; */
    height: auto;
    /* max-height: 40px; */
}


h1 {
    color: white;
}

.content {
    color: white;
}

.tag {
    background: none;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}

.tag:hover {
    color: black;
    background: white;
    border-color: white;
}   