<div class="">
    <div class="tags mb-1">
        <span *ngFor="let tag of task.tags" class="tag is-small">
            <i [class]="tag.icon"></i>
            <p class="ml-1">{{tag.name}}</p>
        </span>
    </div>

    <h1 class="title is-4 mb-2">{{task.title}}</h1>
    <div class="content">{{task.body}}</div>
    
    <div class="{{elemClass}} date">
        <h2 class="pt-2 pb-2 has-text-centered">{{dateString}}</h2>
    </div>

    <button class="button" (click)="deleteTask()">Finish task</button>
</div>